img {
    height: 100%;
    max-width: 100%;
}

.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.listing-video {
    iframe {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 60vh;
    width: 100%;
    }
}

.listing-image {
    .icon {
        text-align: center;

        img {
            object-fit: contain;
            height: 10vh;
        }
    }

    img {
        margin: 0;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            height: 60vh;
            width: 100%;
    }

}

.publication {
    .featured-media-inner {
    img {
            object-fit: contain;
            height: 80vh;
        }
    }
    .panel {
        button {
            width: auto;
        }
    }
}

.people {
    .panel {
        .listing-image {
            img {
                height: 70vh;

                @include media(">tablet", "<=desktop") {
                    object-fit: contain;
                    height: 40vh;
                }

                @include media(">phone", "<=tablet") {
                    object-fit: contain;
                    height: 40vh;
                }
            }
        }
    }
}

.post {
    .listing-image {
        overflow: hidden;

        img {
            transition: transform .5s ease;

            @include media(">tablet", "<=desktop") {
                height: 40vh;
                width: 320px;
            }

            @include media(">phone", "<=tablet") {
                height: 40vh;
            }
        }

        &:hover {
            img {
                transform: scale(1.5);
            }
        }
    }
}

.featured-media-inner {
    img {
        margin: 0;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 60vh;
        width: 100%;
    }
}

.partner-listing-image {
    img {
        object-fit: contain;
        object-position: center;
        overflow: hidden;
        height: 40vh;
        width: 100%;
    }
}

figure.featured-media {
    margin: 0;
}

.fa-brands {
    font-size: 3.2rem;
    color: $primary;
}